.flightList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 auto;
  list-style: none;
  padding: 1.5rem 1.5rem;
  margin: 0;
}

.alertTitle {
  margin: 0 auto;
  max-width: 600px;
  color: aliceblue;
  background-color: var(--bs-warning);
}
/*.alertContainer{*/
/*  display: flex;*/
/*  flex-flow: 1;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

